/* zone style */
.zone {
    margin-bottom: 1.5rem;

    @include respond-above(md) {
        margin-bottom: 2.5rem;
    }

    @include respond-above(xl) {
        margin-bottom: 3.5rem;
    }

    &__header {
        @include clearfix;
        margin-bottom: 1rem;

        @include respond-above(md) {
            margin-bottom: 1.5rem;
        }

        @include respond-above(xl) {
            margin-bottom: 2rem;

            .column-sidebar & {
                margin-bottom: 1.5rem;
            }
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0px;
        text-align: center;
        vertical-align: middle;

        a,
        span {
            display: inline-block;
            position: relative;
            padding: 0 1rem;

            &::before {
                display: block;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $green;
                opacity: 0.1;
                height: 1.25rem;
                z-index: -1;
            }
        }

        @media screen and (min-width: 1024px) {
            font-size: 2rem;
        }

        @media screen and (min-width:1280px) {
            font-size: 3rem;
        }

        .column-sidebar & {
            font-size: 1.5rem;
            text-align: left;

            a {
                &::before {
                    height: 0.75rem;
                }
            }
        }
    }

    &__content {
        @include clearfix;
    }

    &__aside {
        padding-top: 1rem;
        border-top: 1px solid #ddd;

        @include respond-above(lg) {
            padding-top: 0;
            padding-left: 1rem;
            margin-left: -1rem;
            border-top: none;
            border-left: 1px solid #ddd;
        }
    }

    &--highlight {
        .zone {
            &__title {
                padding: 0 0 10px;

                &::before {
                    top: auto;
                    bottom: 0;
                    height: 4px;
                    background-color: $secondary;
                }
            }
        }
    }

    &--light {
        .zone {
            &__title {
                font-size: 1rem;
                font-weight: 200;
                text-transform: uppercase;
                text-align: left;

                a {
                    color: white;
                    padding: 0;

                    &::before {
                        display: none;
                    }

                    &:hover {
                        color: $green;
                    }
                }

                @media screen and(min-width: 1024px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &--featured {
        padding: 1.5rem;
        background: url('../images/video-bg.png') center center no-repeat;
        background-size: cover;
        margin-left: -15px;
        margin-right: -15px;

        .zone {
            &__title {
                padding-top: 0;

                &::before {
                    display: none;
                }
            }

            &__content {
                font-size: 0;
                margin: 0 -0.5rem;
                @include clearfix;
            }
        }

        .story {
            padding: 0 8px;
            float: left;
            margin: 0 0 1rem;

            &--featured {

                .story__thumb {
                    &::after {
                        left: 0.5rem;
                        right: 0.5rem;
                    }
                }

                .story__header {
                    left: 0.5rem;
                    right: 0.5rem;
                }
            }

            &+.story {
                margin-top: 0;
            }

            &:nth-child(4) {
                clear: left;
            }
        }

        @media screen and(min-width: 768px) {
            margin-left: 0;
            margin-right: 0;

            .story {
                width: 25%;
                padding: 0 8px;
                float: left;
                margin: 0 0 1rem;

                &--featured {
                    width: 50%;

                    .story__thumb {
                        &::after {
                            left: 0.5rem;
                            right: 0.5rem;
                        }
                    }

                    .story__header {
                        left: 0.5rem;
                        right: 0.5rem;
                    }
                }

                &+.story {
                    margin-top: 0;
                }

                &:nth-child(4) {
                    clear: left;
                }
            }
        }
    }

    &--about {
        padding: 2.5rem 2rem;
        background: url('../images/about-background.png') center center no-repeat;
        background-size: cover;
        color: white;
        margin-left: -15px;
        margin-right: -15px;

        .zone {
            &__title {
                padding: 0 0 10px;
                margin-bottom: 1rem;

                &::before {
                    top: auto;
                    bottom: 0;
                    height: 4px;
                    background-color: $secondary;
                }
            }
        }

        .service-listing {
            .fas {
                font-size: 3rem;
            }
        }

        @media screen and(min-width: 768px) {
            margin-left: -30px;
            margin-right: -30px;
        }
    }

    &--slider {
        .slider {
            &-wrap {
                position: relative;

                .selector {
                    position: absolute;
                    top: 30%;
                    width: 24px;
                    height: 40px;
                    line-height: 40px;
                    background-color: rgba(255, 255, 255, 1);
                    font-size: 2rem;
                    text-align: center;
                    transition: all 0.2s ease-in-out;
                    opacity: 0.7;
                    margin-top: -20px;

                    &:hover {
                        opacity: 1;
                    }

                    a {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }

            &-control {}

            &-prev {
                left: 0px;
            }

            &-next {
                right: 0px;
            }

            @media screen and(min-width: 768px) {
                &-wrap {
                    position: relative;

                    .selector {
                        width: 40px;
                        height: 60px;
                        line-height: 60px;
                        top: 120px;
                        margin-top: 0;
                        opacity: 0.4;
                    }

                }

                &-prev {
                    left: 8px;
                }

                &-next {
                    right: 8px;
                }
            }
        }
    }

    &--shadow {
        padding: 1rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);

        .zone {
            &__title {
                display: inline-block;
            }
        }
    }

    .area & {
        margin-bottom: 0;

        .zone {
            &__aside {
                border-color: rgba(255, 255, 255, 0.3) !important;
            }

            &__title {
                a {
                    color: white;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

.qc {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-left: -15px;
    margin-right: -15px;

    @include respond-above(md) {
        margin-left: 0;
        margin-right: 0;
    }
}

.area {
    margin-bottom: 1.5rem;

    @include respond-above(md) {
        margin-bottom: 2.5rem;
    }

    @include respond-above(xl) {
        margin-bottom: 3.5rem;
    }

    &--contact,
    &--featured,
    &--cover {
        background: url(../images/cover-bg.png) #0C2A4B center center no-repeat;
        background-size: cover;
        padding-bottom: 3.5rem;
        padding-top: 6rem;

        .container {
            position: relative;
        }

        @include respond-above(lg) {
            padding-top: 14rem;
        }

        .control-button {
            border: 6px solid rgba(255, 255, 255, 0.8);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;

            .fal {
                width: 1.875rem;
                height: 1.875rem;
                line-height: 1.875rem;
                background-color: white;
                text-align: center;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                color: black;
            }
        }

        .carousel-control {
            position: absolute;
            width: 10%;
            display: none;

            &-prev {
                transform: translateX(-100%);
                left: 0;
            }

            &-next {
                transform: translateX(100%);
                right: 0;
            }

            @include respond-above(lg) {
                display: flex;
            }
        }

        .carousel-indicators {
            position: absolute;
            bottom: auto;
            top: 100%;
            transform: translateY(100%);
            margin: 0;

            li {
                width: 90px;
                height: 5px;
            }
        }
    }

    &--featured {
        padding: 2rem 0px;
        background-image: url('../images/video-bg.png');
    }

    &--contact {
        padding: 6rem 0 3rem;
        background-color: #0c2a4b;
        background-image: url('../images/contact-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        @include respond-above(lg) {
            padding: 14rem 0 3rem;
        }

        .icon {
            font-size: 2rem;
            margin-bottom: 1rem;
            display: block;
        }

        .text {
            margin-bottom: 3rem;
            color: white;
            text-align: center;
        }
    }

    .story {
        border-color: rgba(255, 255, 255, 0.3) !important;

        &__title {
            a {
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}